@model ShopDomain.Model.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені що хочете видалити це?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdMeasurements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdMeasurements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.MnName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </form>
</div>
